div.usernames {
    position: absolute; 
    top: 9vh;  
    height: 88vh; 
    width: calc(99.5vw - 6vh); 
    left: 3vh; 
    border-style:solid; 
    border-color: white; 
    border-width: 0.25vw; 
    border-radius: 0.5vw; 
}

button.tab {
    position: absolute; 
    background-color: white; 
    color: black; 
    width: calc(calc(98.5vw - 6vh) * 0.5); 
    height: 5vh; 
    border-radius: 0.5vw;
    border-color: white; 
    border-width: 0.5vh; 
    margin-left: 0.25vw;
    margin-top: 0.25vw;
    border-style: solid;
    font-family: "Libre Franklin", sans-serif; /* keep the twitter font */
}

button.tab:hover {
    background-color: lightgray;
    border-color: lightgray;
}

button.tab-right {
    left: calc(calc(99.5vw - 6vh) * 0.5);
}

div.username-list {
    position: absolute; 
    margin-left: 0.25vw; 
    top: 6vh; 
    width: calc(98.61vw - 6vh); 
    height:80.625vh; 
    border-style: solid; 
    border-width: 0.25vw; 
    border-color: dodgerblue; 
    border-radius: 0.5vw;
}

div.username-node {
    background-color: white;
    width: calc(2vw + 2vh);
    height: calc(2vw + 2vh);
    color: dodgerblue;
    border-color: dodgerblue;
    border-style: solid;
    border-width: 0.25vw;
    border-radius: calc(1.25vw + 1vh);
    text-align: center;
}

