<!DOCTYPE html>
<html>
  <head>
    <!-- Include Twitter like font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap"
    />
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/spinner.css" />
    <link rel="stylesheet" href="/static/advanced_statistics.css"/>
  </head>
  <body style="flex-direction: column;">
    <header style="height: 5vh; width: 100vw;">
     
      <!-- Include the X logo-->
      <img style=" width: 5vh; height: 5vh;" src="../static/images/x.png" alt="X Logo" />
    </header>
   
    <div class="usernames">
     <button class="tab">Following not followers</button>
     <button class="tab tab-right">Followers not following</button>
     <div class="username-list">
      {% for username in following_not_followers %}
        <div>{{ username }}</div>
      {% endfor %}
     </div>
     
     <div class="username-list">
      {% for username in followers_not_following %}
        <div>{{ username }}</div>
      {% endfor %}
     </div>
    </div>
    <script src="/static/scripts/script.js"></script>
  </body>
</html>
