<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap"
    /> <!--Include Twitter-like font-->
    <link rel="stylesheet" href="/static/style.css" /> <!-- Style the page -->
    <link rel="stylesheet" href="/static/spinner.css" /> <!--Style the spinner-->
  </head>

  <body>
    <header>
      <script src="https://unpkg.com/htmx.org@1.8.4"></script>
      <img
        src="https://portal.jamp.jiji.com/img/icon_Twitter.png"
        alt="X Logo"
      /> <!-- Include the X logo -->
      <h2>X Loyalty</h2>
    </header>
    <form hx-post="/submit_username" hx-swap="innerHTML"> <!-- Where the user submits their username-->
      <h1>Happening now</h1>
      <h2>Try Today.</h2>
      <input type="text" name="username" placeholder="Username" />
      <button type="submit">Submit</button>
    </form>

    <script src="/static/script.js"></script> <!-- Asists with resizing when the screen ration updates -->
  </body>
</html>
