<!DOCTYPE html>
<html>
  <head>
    <!-- Include Twitter like font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/spinner.css" />
  </head>
  <body>
    <header>
      <script src="https://unpkg.com/htmx.org@1.8.4"></script>
      <!-- Include the X logo-->
      <img src="../static/images/x.png" alt="X Logo" />
      <h2>X Loyalty</h2>
    </header>
    <!-- Where the user submits their username-->
    <form id="username-form" hx-post="/submit_username" hx-swap="innerHTML">
      <h1 class="stay">Happening now</h1>
      <h2 class="stay" id="message">Try Today.</h2>
      <input id="username" type="text" name="username" placeholder="Username" />
      <button type="submit" id="submit_button">Submit</button>
      <div class="spinner" style="display: none"></div>
    </form>
    <script src="/static/scripts/displayOnlySpinnerAndTextOnSubmit.js"></script>
    <script src="/static/scripts/script.js"></script>
  </body>
</html>
